body
{
    opacity: 0.9;
    background: url('http://pre11.deviantart.net/a0f0/th/pre/f/2013/065/6/5/car_service_by_zumadrian-d5x4u12.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
